<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap" rel="stylesheet">
  <!-- Imports -->
  <link rel="stylesheet" href="./styles/header.css">
  <link rel="stylesheet" href="./styles/siteInst.css">
  <title>FlashApp</title>
</head>

<body>
  <header>
    <div class="headerContainer">
      <div class="links">
        <div class="containerLink">
          <a href="#">Home</a>
        </div>
        <div class="containerLink"><a href="#">Sobre nós</a></div>
        <div class="containerLink"><a href="#">Login</a></div>
        <div class="containerLink"><a href="#">Cadastro</a></div>
      </div>
    </div>
  </header>

  <main>

  </main>
</body>

</html>