* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Josefin Sans', sans-serif;

}

.main {
    display: flex;
    /* flex-direction: column; */
    height: 100vh;
    /* background-color: #5C9CBD; */
    width: 100vw;
    height: 100vh;
}

.sideBar {
    background-color: #5C9CBD;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: #fff;
    gap: 5%;
}

ul{
    /* align-self: center; */
    margin: 0 auto;
    width: 100%;
    list-style-type: none;
}

ul li{
    margin: 20% 10%;
    font-size: 20px;
    font-weight: 800;
}

.sideBar i{
    margin-right: 10%;
}

a{
    text-decoration: none;
    color: #fff;
}

.sideBar-logo{
    background-image: url(../img/FlashApp\ logo.png);
    width: 90%;
    height: 20%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    margin: 5% 0;
}

.welcome{
    margin: 0;
    font-size: 40px;
}

.title {
    text-align: center;
    font-size: 40px;
    margin: 2%;
}

.mainContent {
    width: 100%;
    margin: 0 2%;
}

.createDeck {
    background-color: #5C9CBD;
    width: 25%;
    height: 15%;
    display: flex;
    flex-direction: column;
    gap: 40%;
    padding: 2cqb;
    border-radius: 10px;
    margin-top: 2%;
    border: 1px solid black;
    box-shadow: #5C9CBD;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition: 0.2s;
}

.createDeck:hover{
    margin-left: 2%;
    transition: 0.2s;
}

.createDeck p {
    font-size: 25px;
    color: #fff;
}

.createDeck label{
    font-size: 20px;
    color: #fff;
}

.createDeck input{
    border-radius: 10px;
    border: none;
    padding: 5px;
}

.createDeck input:focus{
  /* border: 1px solid #3E83AC; */
    padding: 5px;
    outline: none;
}

.createDeck i{
    font-size: 20px;
}

.bodyCreateDeck i{
margin-left: 30PX;
border: 2px solid black;
border-radius: 50%;
padding: 5px;
cursor: pointer;
color: #fff;
border-color: #fff;

}
.bodyCreateDeck i:hover{
background-color: #229ad6;
transition: 0.2s;
}


.createDeck input:focus ~ .createDeck {
    border: 1px solid black;
}

#containerDecks{
    width: 95%;
    max-height: 60%;
    margin-top: 3%;
    display: flex;
    gap: 2%;    
    flex-wrap: wrap;
}

.containerDeck{
    width: 26.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5C9CBD;
    /* margin: 2%; */
    height: 15%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid black;
    margin-bottom: 2%;
}

.containerDeck h2{
    color: #fff;
}

.containerDeck i {
    margin: 5px;
    cursor:pointer;
    font-size: 20px;
    
}

#b_usuario{
    font-size: 80%;
}