*{
  box-sizing: border-box;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  transition: 0.2s;
  scroll-behavior: smooth;
}

body{
  margin: 0;

}

header {
  width: 100%;
  position: absolute;
  z-index: 999;
}

header .headerContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;

}

.links{
  gap: 33px;
  width: 30%;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  background-color: #fff;
  position: fixed;
  margin-top: 60px;
  border: 1px solid #0e80d2b6;
}

a{
  text-decoration: none;
  color: inherit;
  margin: 15px 1px;


}

.containerLink{
  display: flex;
  align-items: center;
  padding: 5px;
  /* background: rgba(255, 255, 255, 0); */
  /* transition: background 1s ease-in-out; */
  /* border-radius: 10px; */
}

.containerLink:hover{
  /* background: linear-gradient(to right, #0e80d2b6, #00bfffaf); */
  border-top: 4px solid ;
  border-bottom: 4px solid;
  border-color: #0e80d2b6;
  transition: 0.2s;
  cursor: pointer;
}

/* Footer */

footer{
  background-image:url(../img/wave.svg);
  background-color: #C4DDEC;
  height: 30vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  /* color: #fff; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top: 10px solid #3279A5;
}

footer p {
  margin-bottom: 60px;
  color: #fff;
  cursor: pointer;
}

footer span {
  font-weight: 800;
}

@media (min-width: 1400px) and (max-width: 1800px){
  .links{
    width: 30%;
  }
}

@media (min-width: 1080px) and (max-width: 1500px){
  .links{
    width: 45%;
  }
}

@media (min-width: 720px) and (max-width: 1080px){
  .links{
    width: 55%;
  }
}

/* .containerLink{
  display: flex;
  align-items: center;
  padding: 5px;
  background: rgba(255, 255, 255, 0);
  transition: background 100ms ease-in-out;
  border-radius: 20px;
  width: fit-content;
}
 */
/* .containerLink:hover{
  background-color: #00bfffaf;
  transition: background 1s;
  cursor: pointer;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 2ms linear;
  
} */
