*{
  overflow-x: hidden;

}

hr{
  border: 1px solid rgba(0, 0, 0, 0.507);
  width: 80%;
}

.homePage{
background-image: linear-gradient(to right bottom,#0e80d28f,#6fa2b896),url(../img/pessoaEstudando.jpeg);
background-image: linear-gradient(to right bottom,#0e80d28f,#6fa2b896),url(../img/pessoaEstudando.jpeg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: inherit;
}

.aboutMe{
  height: 100vh;
  width: 100vw;
  transition: 0.2s;

}

.leftSection{
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}

.leftSection h1, button{
  margin-left: 10%;
}

.leftSection button{
  padding: 20px;
  border-radius: 20px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;

}

.leftSection button:hover{
  /* margin-left: 40px; */
  background-color: #fff;
  transition: 0.2s;
  color: #000;
}

.leftSection h1{
  font-size: 85px;
  color: #fff;

}


/* About Me */

.aboutMe{
  background-image: linear-gradient(to right bottom,#0e80d28f,#6fa2b896),url(../img/Rectangle\ 51.png);
  background-repeat: round;
  background-size: contain;
  display: flex;
  color: #fff;
}

.aboutMe .leftSection {
  width: 50%;
}

/* Left Container */

.aboutMe .leftSection .aboutMeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    gap: 5%;
    margin-top: 5%;
}

.aboutMe .leftSection .aboutMeContainer img{
  width: 30%;
  border-radius: 40%;
  border: 5px solid #0BA0FF;
}

.aboutMeContainer h2{
  font-size: 60px;
  border-top: 1px solid #0BA0FF;
  border-left: 1px solid #0BA0FF;
  box-shadow: -15px -15px 7px -6px rgba(0,0,0,0.49);  
  padding: 20px;
  margin: 30px;
}
 .aboutMeContainer h3{
  font-size: 30px;
}

/* Right Container */

.aboutMe .rightSection{
  width: 50%;
}

.rightSection .text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 50px;
  margin-right: 10%;

}

.rightSection .text p{
  margin-right: 40px;
  border-bottom: 1px solid #0BA0FF;
  border-right: 1px solid #0BA0FF;
  box-shadow: 15px 15px 14px 5px rgba(0,0,0,0.51);
}

.containerLink{
  display: flex;
  align-items: center;
  padding: 5px;
  background: rgba(255, 255, 255, 0);
  transition: background 100ms ease-in-out;
  border-radius: 20px;
  width: fit-content;
}

.containerLink:hover{
  background-color: #00bfffaf;
  /* transition: background 1s; */
  cursor: pointer;
  /* -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear; */
  transition: background-color 2ms linear;
  
}

@media (min-width: 1400px) and (max-width: 1800px){
  .links{
    width: 25%;
  }
}

@media (min-width: 1080px) and (max-width: 1500px){
  .links{
    width: 40%;
  }
}

@media (min-width: 720px) and (max-width: 1080px){
  .links{
    width: 50%;
  }
}